* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    FONT_FAMILY

    font-family: 'libre Franklin', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Tenor Sans',sans-serif;
*/

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 60px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-family: 'libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.banner_block {
    display: flex;
    gap: 50px;
    margin-bottom:  60.5px;
}

.illustration {
    font-family: 'libre Franklin', sans-serif;
    font-size: 10px;
    color: #999;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.main_title {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 27px;
    color: #000000;
}

.banner_text {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #666666;
    margin-bottom: 28px;
}

.author {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.articles__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /*gap: 20px*/
    justify-content: space-between;
    row-gap: 75px;
}

.articles__card {
    width: 387px;

}

.articles__category {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 18px;
}

.articles__img {
    margin-bottom: 24px;
}

.aeticles_cat_text {
    font-family: 'Tenor Sans',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.articles__author {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.Line {
    background-color: #E6E6E6;
    height: 1px;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
}

/*Articles Small*/

.Graphic__Design__text {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 30px;
}

.articles__wrapper__small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 98px;
}

.articles__card__small {
    width: 285px;
}

.articles__category__small {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.articles__img__small {
    margin-bottom: 20px;
}

.articles__category__small {
    margin-bottom: 18px;
}

.articles_cat_text__small {
    font-family: 'Tenor Sans',sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}

.articles__author__small {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    font-family: 'libre Franklin', sans-serif;  
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.articles__button {
    font-family: 'libre Franklin', sans-serif;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
    width: 205px;
    height: 54px;
    justify-content: center;
    align-items: center;
    margin: 90px auto 0;
}

.line2 {
    background: #E6E6E6;
    width: 1200px;
    height: 1px;
    margin-top: 90px;
    margin-bottom: 90px;
}

/*articles big*/

.featured__POSTS {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 30px;
}

.articles__wrapper__big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.articles__card__big {
    width: 600px;
}

.articles__img__big {
    margin-bottom: 25px;
    margin-top: 25px;
}

.articles__category__big {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;   
    margin-bottom: 18px;
}

.articles_cat_text__big {
    font-family: 'Tenor Sans',sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;  
}

.articles__author__big {
    font-family: 'libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px;
}

.footer {
    height: 250;
    background-color: #141414;
    padding: 90px 0;
}

.footer__info {
    display: flex;
    gap: 15px;
}

.footer__copy {
    font-family: 'libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    color: #666666;
    align-self: end;
}

.footer__line {
    background-color: #4d4d4d;
    height: 1px;
    width: 100%;
    margin: 60px 0;
}