* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    FONT_FAMILY
    
    font-family: 'libre Franklin', sans-serif;
    font-family: 'source serif pro', serif;
    font-family: 'tenor sans',sans-serif;
*/